<div style="display: flex; justify-content: center; align-items: center;">
    <mat-form-field>
      <mat-label>Enter City</mat-label>
      <input matInput [formControl]="myForm">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  
    <button mat-raised-button type="submit" (click)="search()">Go</button>
  </div>


<h1><b>{{city}}, {{country}}</b></h1>
<h3>{{date}} at {{time}}</h3>
<br>


<mat-card appearance="outlined">
    <mat-card-content>
        
        <p>Temperature: {{temperature}}{{degrees}}</p>
        <p>Feels Like: {{feels_like}}{{degrees}}</p>
        <p>High: {{high}}{{degrees}}</p>
        <p>Low: {{low}}{{degrees}}</p>

        <br>
        <mat-slide-toggle>Metric</mat-slide-toggle>
    </mat-card-content>
   

</mat-card>